*,
*::after,
*::before {
  box-sizing: border-box;
  // outline: 1px solid red;   // Used for debugging unwanted overflows.
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: var(--font-default);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-grey-light);
  background-color: var(--color-dark-primary);
}

p {
  margin: 0;
  font-size: 0.8rem;
  @include medium-breakpoint {
    margin: 1rem 1rem 1rem 0;
    font-size: 1rem;
  }
}

hr,
.divider {
  padding: 0;
  border: none;

  text-align: center;
  border-top: 1px solid var(--color-grey-dark);
  // color: var(--color-grey-dark);
  width: 100%;
}
//----------------------------------------------------
// Grid
//----------------------------------------------------

.container {
  @include flexbox();
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  &__column {
    flex-direction: column;
    justify-content: center;
  }
}

.row {
  @include flexbox();
  padding: 1rem;
  width: 100%;
  flex-direction: column;

  @include medium-breakpoint {
    padding: 4rem 0;
    width: 90vw;
  }

  &--wide {
    @include small-breakpoint {
      width: 100%;
    }
  }
}

.flex-sm,
.flex-lg {
  flex-basis: 100%;
  margin-bottom: var(--grid-margin-bottom);
  border: 2px double lightblue;
  height: auto;
}

@include small-breakpoint {
  .flex-sm {
    flex: 1;
  }
}

@include large-breakpoint {
  .flex-lg {
    flex: 1;
  }
}

//----------------------------------------------------
// Helpers
//----------------------------------------------------

.center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
}

.left {
  display: flex;
  justify-content: left;
}
//----------------------------------------------------
// Font formating
//----------------------------------------------------

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headline);
  color: var(--color-light-primary);
  font-weight: 400;
  line-height: 1;
  word-break: break-word;
}

h1 {
  font-size: 3.052rem;
  margin: 3rem 0;
  @include medium-breakpoint {
    font-size: 7.5vw;
    text-align: right;
  }
}

h2 {
  font-size: 1.7rem;
  @include small-breakpoint {
    font-size: 2.441rem;
  }
}

h3 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.3rem;
  color: var(--color-grey-light);

  @include medium-breakpoint {
    font-size: 1.563rem;
  }
}

h5 {
  font-size: 1.25rem;
  color: var(--color-grey-light);
}

small,
.text_small {
  font-size: 0.8rem;
}
